:root {
  --dark-grey-blue: #2B2D42;
  --grey-blue: #8d99ae;
  --white-blue: #edf2f4;
  --pink-red : #EF233C ;
  --red: #D90429;
}

h1, .h1{ font-size: 40px; font-weight: 900; color: var(--dark-grey-blue); }
h2, .h2{ font-size: 34px; font-weight: 700; color: var(--dark-grey-blue); }
h3, .h3{ font-size: 30px; font-weight: 600; color: var(--dark-grey-blue); }
h4, .h4{ font-size: 28px; font-weight: 500; color: var(--dark-grey-blue); }
h5, .h5{ font-size: 24px; font-weight: 300; color: var(--dark-grey-blue); }
h6, .h6{ font-size: 20px; font-weight: 200; color: var(--dark-grey-blue); }

/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/ 
.logo {
  width: 70px;
}

.footer {
  background-color: #2B2D42;
  padding: 0.5rem;
  margin-top: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.phone {
  margin-top: 160px;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 5/9;
}

.fonctionnalités {
  margin-top: 40px;
}

.imgCardF {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  color: var(--dark-grey-blue);
}

.textCard {
  height: 120px;
  margin-top: 15px;
}

.card {
  margin-bottom: 50px;
}

.imgT {
  height: 20vh;
  object-fit: cover;
}

#fonctionnalites {
  background-color: var(--grey-blue);
}

#faq {
  background-color: var(--grey-blue);
}

.textAlign {
  text-align: center;
}

.tem {
  margin: 50px;
}

.quote-icon {
  position: absolute;
  top: -30px;
  left: -10px;
  font-size: 3rem;
  color: green;
}

.marginB {
  margin-bottom: 50px;
}
/*---------------------------------------------------------- 
# Section Hero  
----------------------------------------------------------*/ 